<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Calcular Nota</h1>
    <form [formGroup]="formCalification">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <field-validator [targetField]="formCalification.controls.lu">
              <label for="formGroupExampleInput">Legajo :</label>
              <input #component_validator type="text" class="form-control" id="legajo"
                     placeholder="Ingrese el legajo del alumno." formControlName="lu">
            </field-validator>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <field-validator [targetField]="formCalification.controls.notaConcepto">
              <label for="formGroupExampleInput">Nota Conceptual :</label>
              <input #component_validator type="number" class="form-control" id="concept"
                     placeholder="Ingrese nota conceptual." formControlName="notaConcepto">
            </field-validator>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <field-validator [targetField]="formCalification.controls.notaEscrito">
              <label for="formGroupExampleInput">Nota Escrita :</label>
              <input #component_validator type="number" class="form-control" id="write"
                     placeholder="Ingrese nota de evaluacion escrita."
                     formControlName="notaEscrito">
            </field-validator>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <field-validator [targetField]="formCalification.controls.notaOral">
              <label for="formGroupExampleInput">Nota Oral :</label>
              <input #component_validator type="number" class="form-control" id="talk"
                     placeholder="Ingrese nota de evaluacion oral." formControlName="notaOral">
            </field-validator>
          </div>
        </div>
      </div>
      <button type="button" (click)="calculateCalifications()" class="btn btn-primary">Calcular Promedio</button>
    </form>
  </div>
</div>

Califications

<ul>
  <li *ngFor="let calification of califications">
    {{calification.lu}}
  </li>
</ul>
